.messagebox{
    display: inline-block;
    clear: both;
    height: fit-content;
    width: 45vmax;
    min-width: 350px;
    text-align: center;
  word-wrap: break-word;
    background-color: rgb(21, 43, 55);
    font-family: verdana;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
overflow-x: hidden;
font-size: 23px;
}
#bb{color: rgb(245, 106, 7);}

